@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    color: white;
}
.hero {
    background: linear-gradient(
            180deg,
            rgb(9, 9, 9) 3.482%,
            rgba(16, 16, 16, 0) 101.632%
        ),
        url(../assets/hero-bg.png);
    height: 615px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: work sans;
}
.hero-content {
    width: 685px;
}
.title {
    font-size: 38px;
    font-weight: 600;
}
.heading {
    font-size: 44px;
    margin: 10px;
    font-weight: 700;
}
.description {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}
.hero-btn {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgb(82, 195, 3);
    margin-top: 20px;
    padding: 21px 32px;
    border: none;
    border-radius: 5px;
}
