h3 {
    font-size: 30px;
    text-decoration: overline;
    font-family: "Courier New", Courier, monospace;
}
.blog {
    margin: 20px;
    border: 10px solid red;
    box-shadow: 10px 10px 5px #888888;
    padding: 10px;
}
.second {
    display: none;
}
.img {
    height: 500px;
    background-color: cadetblue;
    background-image: url("../../Module-1 Learn and Explore HTML/image/istockphoto-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.dolor{
    border: 2px solid yellowgreen;
    height: 200px;
    display: inline-block;
}
